@import '../../_variables';

.list-item {
	clear: both;
    padding: 5px 20px;
    background: white;
    overflow: hidden;
    margin: 2px 0px;
    cursor: pointer;

    &.selected {
        background: @secondary;
        color: white;
    }

    &:odd {
    	background: #eee;
    }

	img {
		float: left;
		height: 40px;
		width: 30px;
	}
}