@import '../../_variables';


.searchbox-option {
	display: none;
	background: @accent;
	padding: @half-padding @padding @padding;

	&.selected {
		display: block;
	}

	.searchbox-option-title {
		display: block;
		text-transform: uppercase;
		color: white;
		font-size: 2em;
		font-weight: bold;

		&:after {
			content: '';
		    border-color: transparent;
		    border-width: 10px;
		    border-top-width: 14px;
		    border-top-color: white;
		    border-bottom: 0;
		    border-style: solid;
		    float: right;
		    margin-top: 15px;
		}
	}

	.searchbox-option-search {
		position: relative;

		.searchbox-input {
			display: block;
		    width: 99%;
		    border: 0;
		    outline: 0;
		    padding: 11px;
		    box-sizing: border-box;
		    margin: 2px 0;
		    font-size: 0.8em;

		    &:focus + .icon {
		    	color: @accent;
		    }
		}

		.icon {
			position: absolute;
		    top: 9px;
		    right: 13px;
		    display: block;
		    cursor: pointer;
		    color: #ccc;
		}


	}

}


.searchbox-options {

	&.open {
		overflow: visible;
	    position: relative;
	    z-index: 1;
	    padding-top: 58px;

		.searchbox-option {
			display: block;
			
			.searchbox-option-title {
				font-size: 1em;

				&:after {
					display: none;
				}
			}	

			&.selected {
				position: absolute;
				top: 0;
				right: 0;
    			left: 0;
    			padding-bottom: 0;
				.searchbox-option-title {
					font-size: 2em;

					&:after {
						display: block;
						border-bottom-width: 14px;
					    border-bottom-color: white;
					    border-top: 0;
					}
				}
			}
				


			.searchbox-option-search {
				display: none;
			}
		}
	}

}