doctype
html
  head
    title San Francisco Filming Locations
    link(href="static/css/app.css", type="text/css", rel='stylesheet')
    link(href="static/css/leaflet.css", type="text/css", rel='stylesheet')
    link(href="static/css/font.css", type="text/css", rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700", type="text/css", rel="stylesheet")

  body
    div(id='react-root')!= app

    script(src='/static/js/app.js')
