/* header */
/* Colors */

#main-app {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* header */
/* Colors */
#details-bar {
  position: absolute;
  left: 30%;
  right: 0;
  bottom: -320px;
  background: rgba(0, 0, 0, 0.8);
  height: 300px;
  z-index: 100;
  color: white;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
#details-bar.visible {
  bottom: 0;
}
#details-bar .details-bar-content {
  padding-top: 10px;
}
#details-bar .details-bar-content > img {
  float: left;
  width: auto;
  margin: 0 2%;
  max-height: 278px;
  max-width: 28%;
}
#details-bar .details-bar-close {
  cursor: pointer;
  position: absolute;
  top: -15px;
  background: #0191DC;
  padding: 10px;
  right: 20px;
}
#details-bar .details-bar-main {
  float: left;
  width: 40%;
  font-size: 0.8em;
}
#details-bar .details-bar-main .title {
  font-weight: bold;
  font-size: 1.6em;
}
#details-bar .details-bar-main .rating {
  color: #E67817;
  margin-left: 10px;
}
#details-bar .details-bar-main .plot {
  margin-top: 10px;
}
#details-bar .details-bar-sidebar {
  margin: 0 2%;
  width: 24%;
  float: left;
  font-size: 0.8em;
}
#details-bar .details-bar-sidebar p {
  margin-top: 10px;
}
#details-bar .details-bar-sidebar p .value {
  font-weight: bold;
}
@media (max-width: 833px) {
  #details-bar {
    left: 250px;
  }
}

/* header */
/* Colors */
header {
  background: #495678;
  height: 45px;
  color: white;
  font-size: 1.2em;
  z-index: 31;
  position: relative;
}
header .header-buttons {
  float: right;
  font-size: 0.8em;
  padding-right: 20px;
  padding-top: 10px;
}
header .header-buttons > a {
  margin-left: 15px;
}
header h1 {
  padding: 7px 20px;
  float: left;
}
header h1 span {
  font-weight: normal;
  margin-left: 5px;
}

/* header */
/* Colors */
#map {
  position: absolute;
  left: 30%;
  right: 0;
  top: 45px;
  bottom: 0;
  background: #666;
}
#map .leaflet-top .leaflet-control {
  margin-top: 60px;
}
@media (max-width: 833px) {
  #map {
    left: 250px;
  }
}
.district-popup {
  pointer-events: none !important;
}
.map-icon.icon-location2 {
  color: #092278;
  font-size: 1.6em;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5);
}
.map-icon.icon-location2:hover {
  color: #E67817;
}
.leaflet-popup-content,
.map-popup {
  min-width: 150px;
}
.map-popup {
  text-align: center;
}
.map-popup p.name {
  font-weight: bold;
  font-size: 1.15em;
  margin: 5px 0 10px;
}
.map-popup .movies-header {
  color: #E67817;
  margin: 0;
  border: 1px #E67817 solid;
  padding: 2px 0;
  border-radius: 6px;
  margin-bottom: 3px;
}
.map-popup .trigger.movies {
  cursor: pointer;
  display: block;
  font-weight: bold;
  color: #0191DC;
}

#sidebar {
  width: 30%;
  float: left;
  background: #ccc;
  top: 45px;
  bottom: 0;
  position: absolute;
  min-width: 250px;
}

/* header */
/* Colors */
#status-bar {
  position: absolute;
  left: 30%;
  right: 0;
  top: -10px;
  height: 48px;
  z-index: 30;
  background: #0191DC;
  -webkit-transition: top 1s ease;
  -moz-transition: top 1s ease;
  -o-transition: top 1s ease;
  -ms-transition: top 1s ease;
  transition: top 1s ease;
}
#status-bar.visible {
  top: 45px;
}
#status-bar .statusbar-item {
  display: inline-block;
  margin: 7px 5px 0 10px;
  background: white;
  border: 1px solid #E67817;
  padding: 5px 5px 3px 5px;
}
#status-bar .statusbar-item .icon-cross {
  margin: 2px 4px 0 4px;
  color: #E67817;
  cursor: pointer;
  font-size: 1em;
}
#status-bar .statusbar-item .type {
  text-transform: capitalize;
}
#status-bar .statusbar-item .value {
  font-weight: bold;
  margin-left: 5px;
}
@media (max-width: 833px) {
  #status-bar {
    left: 250px;
  }
}

/* header */
/* Colors */
.list-item {
  clear: both;
  padding: 10px 15px 5px;
  background: white;
  overflow: hidden;
  margin: 2px 0px;
  cursor: pointer;
}
.list-item .year {
  font-size: 0.8em;
}
.list-item .rating {
  font-size: 0.8em;
  color: #E67817;
  padding-left: 10px;
  margin-left: 10px;
  border-left: 2px solid #ccc;
}
.list-item .name {
  color: #495678;
  font-weight: bold;
}
.list-item.selected {
  background: #0191DC;
  color: white;
}
.list-item.selected .name {
  color: white;
}
.list-item:odd {
  background: #eee;
}
.list-item img {
  float: left;
  height: 40px;
  width: 30px;
  margin-right: 10px;
}

/* header */
/* Colors */
.searchbox-option {
  display: none;
  background: #E67817;
  padding: 10px 20px 20px;
}
.searchbox-option.selected {
  display: block;
}
.searchbox-option .searchbox-option-title {
  display: block;
  text-transform: uppercase;
  color: white;
  font-size: 2em;
  font-weight: bold;
}
.searchbox-option .searchbox-option-title:after {
  content: '';
  border-color: transparent;
  border-width: 10px;
  border-top-width: 14px;
  border-top-color: white;
  border-bottom: 0;
  border-style: solid;
  float: right;
  margin-top: 15px;
}
.searchbox-option .searchbox-option-search {
  position: relative;
}
.searchbox-option .searchbox-option-search .searchbox-input {
  display: block;
  width: 99%;
  border: 0;
  outline: 0;
  padding: 11px;
  box-sizing: border-box;
  margin: 2px 0;
  font-size: 0.8em;
}
.searchbox-option .searchbox-option-search .searchbox-input:focus + .icon {
  color: #E67817;
}
.searchbox-option .searchbox-option-search .icon {
  position: absolute;
  top: 9px;
  right: 13px;
  display: block;
  cursor: pointer;
  color: #ccc;
}
.searchbox-options.open {
  overflow: visible;
  position: relative;
  z-index: 1;
  padding-top: 58px;
}
.searchbox-options.open .searchbox-option {
  display: block;
}
.searchbox-options.open .searchbox-option .searchbox-option-title {
  font-size: 1em;
}
.searchbox-options.open .searchbox-option .searchbox-option-title:after {
  display: none;
}
.searchbox-options.open .searchbox-option.selected {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-bottom: 0;
}
.searchbox-options.open .searchbox-option.selected .searchbox-option-title {
  font-size: 2em;
}
.searchbox-options.open .searchbox-option.selected .searchbox-option-title:after {
  display: block;
  border-bottom-width: 14px;
  border-bottom-color: white;
  border-top: 0;
}
.searchbox-options.open .searchbox-option .searchbox-option-search {
  display: none;
}

#sidebar-list {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 119px;
}

@import '../../node_modules/leaflet/dist/leaflet.css';
.maximaxi {
  display: block;
}

/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: 'Roboto', "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
